<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SettingsThemeWF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SettingsThemeWF.Properties.Settings>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="colorBgd" serializeAs="String">
                <value>38, 38, 38</value>
            </setting>
            <setting name="colorTxt" serializeAs="String">
                <value>196, 196, 196</value>
            </setting>
            <setting name="colorBgdOriginal" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="colorTxtOriginal" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="colorSuccesGreen" serializeAs="String">
                <value>126, 166, 75</value>
            </setting>
            <setting name="updateNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="darkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colorMenuDark" serializeAs="String">
                <value>62, 62, 64</value>
            </setting>
            <setting name="colorMenuOrigin" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
        </SettingsThemeWF.Properties.Settings>
    </userSettings>
</configuration>